.carousel {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-item {
  flex: none;
  width: 100vw;
  height: 80vh;
  scroll-snap-align: start;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.carousel-control {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.carousel-control:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
